header{
  background-color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
}

  header p {
    margin: 0;
    text-align: center;
    position: fixed;
  }

h1{
  text-align: center;
  position: fixed;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    position: fixed;
  }
  