header{
  background: linear-gradient(to right, #FFFFFF, #87CEFA);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}

  header p {
    margin: 0;
    text-align: center;
    position: fixed;
  }

footer {
    background: linear-gradient(to right, #FFFFFF, #87CEFA);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    position: fixed;
  }
  